<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :first_name, value: user.first_name, placeholder: "first name" %>
    <%= form.text_field :last_name, value: user.last_name, placeholder: "last name" %>
    <%= form.text_field :username, value: user.username, placeholder: "username" %>
    <%= form.password_field :password, value: user.password, placeholder: "password" %>
    <%= form.submit %>
  </div>
<% end %>
